:root {
    --favcolor: rgb(57 57 78);
}

.head_top {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 10;
    /*background-color: black;*/

    >.row {
        padding: 0 5%;
        height: 100%;

        >* {
            height: 100%;
            /*border: 2px solid rgb(246, 242, 242);*/
        }

        >figure {
            width: 20%;
            display: flex;
            align-items: center;

            >img {
                width: 200px;
                height: auto;
                object-fit: contain;
            }
        }

        >nav {
            width: 55%;

            >ul {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;

                >li {
                    /*border: 1px solid white;*/
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    >a {
                        display: flex;
                        padding: 0 20px;

                        &:hover {
                            background-color: var(--favcolor);
                            padding: 10px 20px;
                        }
                    }
                }
            }


        }

        >div {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            >span {
                >a {
                    font-size: 30px;
                    color: white;
                }

            }
        }
    }
}

/*end header*/
.destinations {
    height: 100vh;
    background-image: url(../images/home-banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    >.row {
        padding: 0 7%;
        top: 40%;
        color: white;

        >* {
            width: 100%;
            text-align: center;
            text-transform: capitalize;
        }

        >h1 {
            font-size: 70px;
            padding: 10px;
        }

        >h2 {
            font-size: 30px;
            padding: 10px;
        }

        a {
            width: fit-content;
            background-color: rgb(102 102 164);
            display: block;
            margin: auto;
            padding: 20px 30px;
            border-radius: 10px;
        }
    }
}

/*end section*/
.comment {
    width: 100%;
    background-color: white;
    min-height: 400px;


    >.row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        >div {
            width: 50%;
            padding: 70px 0;

            >* {
                color: rgb(20, 20, 20);
                text-transform: capitalize;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            }

            >figure {

                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }

            >h2 {
                font-size: 50px;
                padding: 45px;
                font-weight: normal;
            }

            >p {
                line-height: normal;
                font-size: 20px;
                padding: 45px;
                font-weight: normal;
                margin: auto;
            }
        }

    }
}

/*end section*/
.next {
    width: 100%;
    height: 140vh;
    background-color: rgb(240 240 237);

    >.row {
        width: 100%;
        height: 100%;

        >div {
            width: 100%;

            &:first-child {
                height: 30%;
                border: 1px solid black;
            }

            &:last-child {
                height: 70%;
            }

            >h2 {
                font-size: 50px;
                color: rgba(26, 25, 25, 0.81);
                text-align: center;
                padding: 60px;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            }

            >p {
                max-width: 700px;
                margin: 0 auto;
                padding: 0;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 25px;
                line-height: 1.8;
                font-weight: 400;
                text-align: center;
            }

            >ul {
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 30px;
                padding: 40px 60px;

                >li {
                    width: 400px;
                    height: 300px;
                    list-style: none;
                    /* background-size: cover;
                    background-position: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 32px;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    position: relative;*/

                    &:nth-of-type(1) {
                        background-image: url(../images/destination9-600x450.jpg);

                    }

                    &:nth-of-type(2) {
                        background-image: url(../images/destination8-600x450.jpg);
                    }

                    &:nth-of-type(3) {
                        background-image: url(../images/destination7-600x450.jpg);
                    }

                    &:nth-of-type(4) {
                        background-image: url(../images/destination6-600x450.jpg);
                    }

                    &:nth-of-type(5) {
                        background-image: url(../images/destination5-600x450.jpg);
                    }

                    &:nth-of-type(6) {
                        background-image: url(../images/destination4-600x450.jpg);
                    }

                    >a {

                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        background-size: cover;
                        background-position: center;

                        text-decoration: none;
                        color: white;
                        font-size: 32px;
                        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                        overflow: hidden;
                        position: relative;

                    }

                    &::after {
                        content: "";
                        position: absolute;
                        inset: 0;
                        background: rgba(0, 0, 0, 0.3);
                        z-index: -1;
                    }
                }
            }
        }
    }
}





/*end next*/
.pic {
    width: 100%;
    height: 100vh;
    background-color: white;
    overflow: hidden;

    >.row {
        width: 100%;
        height: 100%;


        >div {
            width: 100%;

            &:first-child {
                height: 25%;
                background: white;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:last-child {
                height: 75%;
                position: relative;
            }

            >a {
                width: 300px;
                color: white;
                font-size: 22px;
                text-align: center;
                background-color: rgb(102 102 164);
                display: block;
                margin: auto;
                padding: 20px 30px;
                border-radius: 5px;
            }

            >figure {
                width: 100%;
                height: 100%;
                margin: 0;


                >img {
                    height: 100%;
                    width: 100%;
                    ;
                    object-fit: cover;
                }
            }

            >.overlay {
                position: absolute;

                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);

                text-align: center;
                color: white;

                >img {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-bottom: 15px;
                }

                >p {
                    max-width: 2000px;
                    margin: 10px auto;
                    font-size: 25px;
                    padding: 10px;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

                }

                >span {
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
    }
}

/* end pic */
.foot {
    width: 100%;
    height: 20vh;
    background-color: var(--favcolor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;

    >figure {
        >img {
            width: 50%;
            height: auto;
        }
    }

    >.icon {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        >a {
            margin: 0 15px;

            >svg {
                width: 50px;
                height: 50px;
                transition: 0.3s;
            }

            >svg:hover {
                transform: scale(1.2);
            }
        }
    }
}